<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link type="text/css" rel="stylesheet" href="../../static/base.css">
    <link rel="stylesheet" href="/static/basket_page.css">
</head>

<body>
    
    {% extends 'base.html' %}
    {% block basket_list %}

        <a class="basket-btn" href="{{ url_for('bp_order.basket_orders') }}">Корзина</a>
        <div class="product-list">
            {% if items %}
                {% for item in items %}
                    <div class="product">
                        {% if item['prod_price'] != '0' %}
                            <p style="color: green">В наличии</p>
                        {% else %}
                            <p style="color: red">Нет в наличии</p>
                        {% endif %}
                        <h1>{{ item['prod_name'] }} ({{ item['prod_price'] }} шт.)</h1>

                        <form action="" method="post">
                            <input type="hidden" name="prod_id" value="{{ item['prod_id'] }}">
                            <button class="submit-btn" type="submit">Добавить</button>
                        </form>
                    </div>
                {% endfor %}
            {% else %}
                <p> Нет доступных товаров</p>
            {% endif %}
        </div>

    {% endblock %}

</body>
</html>