<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск продукта</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='sem3.css')}}">
    </style>
</head>
<body>
<h2 align="center">Введите названние продукта</h2>
<div align="center">
    <form action="" method="POST">
        <label for="product">Введите название продукта</label>
        <input name="product_name" id="product" type="text" placeholder="product name">
        <br><br>
        <input type="submit" value="Отправить">
    </form>
</div>
</body>
</html>