.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 100px;
    background-color: white;
    border-radius: 1px;
    transition: 0.5s;
    color: #5F4B8B;
}

.menu:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

.services-block {
    margin: 20px;
}

.menu li {
    font-size: 25px;
    margin: 10px;
}

.menu li a {
    color: #5F4B8B;
    text-decoration: none;
}
