<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/start_page.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Port</title>
</head>
<body>
    
    <header>
        <nav>
            <ul>
                <li><a href="">Главная</a></li>
                <li><a href="{{ url_for('bp_order.order_index') }}">Каталог</a></li>
                <li><a href="{{ url_for('bp_auth.start_auth') }}">Войти</a></li>
                <li><a href="{{ url_for('bp_auth.start_reg') }}">Регистрация</a></li>
            </ul>
        </nav>
    </header>

    <img class="port-img" src="{{url_for('static', filename='port-wallpapers.jpg')}}" alt="">

</body>
</html>