<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../../static/base.css">
    <link rel="stylesheet" href="../../static/login-forms.css">
    <title>Авторизация</title>

</head>
<body>
    {% extends 'base.html' %}
    {% block signin %}

        <div class="login-block">
            <h1> Авторизируйтесь</h1>
            <div>
                <form method="post" action="" autocomplete="off">
                    <input class="login_password_form" type="text" id="login" name="login" placeholder="Логин" autocomplete="off">
                    <input class="login_password_form" type="password" name="password" placeholder="Пароль" autocomplete="off">
    
                    <button class="submit-btn" type="submit">Войти</button>
                </form>
                <h2>{{ message }}</h2>
            </div>
        </div>
    
    {% endblock %}
</body>
</html>