<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../../static/base.css">
    <link rel="stylesheet" href="../../static/login-forms.css">
    <title>Регистрация</title>
</head>
<body>

    {% extends 'base.html' %}
    {% block signup %}
    <div class="login-block">
        <h1>Зарегистрируйтесь</h1>
        <div>
            <form method="post" action="" autocomplete="off">
                <input class="login_password_form" type="text" id="login" name="login" placeholder="Логин">
                <input class="login_password_form" type="password" name="password1" placeholder="Пароль">
                <input class="login_password_form" type="password" name="password2" placeholder="Повторите пароль">

                <button class="submit-btn" type="submit">Создать</button>
            </form>
        </div>
        <h2>{{ message }}</h2>
    </div>
    {% endblock %}
</body>
</html>