<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>

    <h1 align="center">Зарегистрируйтесь</h1>
    <div align="center">
        <form method="post" action="">
            <label for="login"> Логин</label>
            <input class="login_password_form" type="text" id="login" name="login">

            <label for="password"> Пароль</label>
            <input class="login_password_form" type="password" name="password1" id="password1">
            <label for="password"> Повторите пароль</label>
            <input class="login_password_form" type="password" name="password2" id="password2">

            <input type="submit" class="submit" value="Отправить">
        </form>
        <h2 align="center">{{ message }}</h2>
    </div>
    
</body>
</html>